<div class="row my-5 w-100">
    <div class="col-md-6 mx-auto text-center">
        <button class="btn btn-sm btn-success" (click)="openForm=true">New Todo</button>
    </div>
</div>
<div class="row my-2 w-100">
    @if(openForm){
    <div class="col-md-6 mx-auto ">
        <div class="form-group">
            <label for="title" class="my-2">Title</label>
            <input [(ngModel)]="todo.title" type="text" name="" id="title" class="form-control">
        </div>
        <div class="d-grid my-2">
            @if(editable){
            <button class="btn btn-warning" (click)="editTodo()">Update</button>
            }
            @else{
            <button class="btn btn-primary" (click)="persistTodo()">Add</button>
            }
            <button class="btn btn-info mt-3" (click)="cancel()">Cancel</button>
        </div>
    
    </div>
    }


</div>

<div class="row my-2 w-100">
    <div class="col-md-8 mx-auto">
        <ul class="list-group list-todos">
            @for(todo of todos; track todo.id) {
            <li class="list-group-item" (dblclick)="deleteTodo(todo)">

                <button [ngClass]="{
                    'btn-danger': !todo.completed,
                    'btn-light': todo.completed
                   }" class="btn btn-snall me-2" (click)="completeTodo(todo)">
                    <i class="fa {{todo.completed ? 'fa-check-square' :  'fa-check-square-o'}}"></i>
                </button>
                <button class="btn btn-snall btn-warning me-2" (click)="onEditTodo(todo)">
                    <i class="fa fa-pencil"></i>
                </button>
                <span class="{{ todo.completed ? 'text-decoration-line-through' : ''}}"> {{todo.title}}</span>
            </li>
            }

        </ul>
    </div>
</div>